*{
	margin:0px;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
  width:;
}

/* Etiquetas */
body{
  background-color: transparent;
}


/* Identificadores*/
#image{
  margin: 0px auto;
}


/* Clases */
